aside {
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(173, 230, 195);
    opacity: 0.8;
    
}

body {
    color: black;
}

section {
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(173, 230, 195);
    border-radius: 2em;
    opacity: 0.8;
  }


.img-circle {
  
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    float: right;
  }

.background{
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

