aside {
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(173, 230, 195);
  opacity: 1;
  border-radius: 3rem;
  float: right;
}

#float{
  background-color: rgb(173, 230, 195);
}

.header{
  background-color: rgb(136, 184, 153);
  padding: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-top: -3rem;
}

p, ol{
  font-family: Georgia, serif;
  font-size: 1.5em;
}

ol{
  text-align: center;
  list-style-position: inside;
}

table, th, td {
  border: 1px solid black;
  width: 30em;
  height: 3em;
}

th, tr{
  text-align: center;
}

iframe{
  margin-left: 25rem;
}

hr{
  border-color: black;
  margin: 3rem;
  text-align: center;
}

h2{
  text-align: center;
  font-weight: 500;
  letter-spacing: .3em;
}

body {
    color: black;
}

.section {
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(173, 230, 195);
    opacity: .9;
  }

.section-tip{
  margin: 1rem;
  padding: 5rem;
  background-color: rgb(173, 230, 195);
  opacity: 1;
  width: 50em;
}


.img-circle {
  margin-left: auto;
  margin-right: auto;
  }

.background{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



