/*Element styles*/
aside {
  /*margin: 0 auto;*/
  padding: 1rem;
  opacity: 1;
  width: 100%;
  margin-top: 5rem;
}

p, ol{
  font-family: Georgia, serif;
  font-size: 1.5em;
}

ol{
  text-align: center;
  list-style-position: inside;
}

table, th, td {
  border: 1px solid black;
  width: 25em;
  /*
  height: 4em;
  */
}

th, tr{
  text-align: center;
  font-size: 5em;
}

iframe{
  margin-left: 25rem;
}

hr{
  border-color: black;
  margin: 3rem;
  text-align: center;
}

h2{
  text-align: center;
  font-weight: 500;
  letter-spacing: .3em;
}

body {
    color: black;
}


/*Class styles*/
.header{
  padding: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  margin-top: -3rem;
}

.section {
    margin: 1rem;
    padding: 5rem;
    opacity: .9;
  }

.img-circle {
  margin-left: auto;
  margin-right: auto;
  }

.navbar{
  min-height: 80px;
  font-size: 2em;
}




